<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}Dna club{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/tables.css" />
    {% include 'include/sb_admin_2/head.html.twig' %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'include/header.html.twig'  %}
        {% include 'include/sidebar.html.twig' %}
      </nav>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              {% block pageH1 %}Dashboard{% endblock %}
            </h1>
          </div>
        </div>
        {% block content %}
          {% include 'include/sb_admin_2/default.html.twig' %}
        {% endblock %}
      </div>
    </div>
    {% include 'include/sb_admin_2/bottom.html.twig' %}
    {% block javascripts %}{% endblock %}
  </body>
</html>
