AppBundle\Entity\Reward:
    type: entity
    table: reward
    repositoryClass: AppBundle\Entity\Repository\RewardRepository
    indexes:
        fk_reward_client:
            columns:
                - client_id
    id:
        rewardId:
            type: integer
            nullable: false
            options:
                unsigned: true
            id: true
            column: reward_id
            generator:
                strategy: IDENTITY
    fields:
        sum:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
        date:
            type: date
            nullable: false
            gedmo:
                timestampable:
                    on: create
        isDeleted:
            type: boolean
            nullable: false
            options:
                default: 0
            column: is_deleted
    manyToOne:
        client:
            targetEntity: Client
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: rewards
            joinColumns:
                client_id:
                    referencedColumnName: client_id
            orphanRemoval: false
    oneToMany:
        payments:
            targetEntity: OrderPayment
            cascade: {  }
            fetch: LAZY
            mappedBy: reward
            inversedBy: null
            joinColumns:
                client_id:
                    referencedColumnName: reward_id
            orphanRemoval: false
    lifecycleCallbacks: {  }
